name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.100
    - name: Build with dotnet
      run: dotnet build --configuration Release
    - name: Publish NuGet packacges
      env:
        NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
      run: chmod +x ./scripts/pack.sh && ./scripts/pack.sh
      shell: bash
